#include "./NetNewsWire_project.xcconfig"
#include "./common/NetNewsWire_release_identifiers.xcconfig"

COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_HARDENED_RUNTIME = YES
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO
// Suppress app-group permission dialogs in the personal Release build.
OTHER_SWIFT_FLAGS = -DRELEASE -DSKIP_APP_GROUP_ACCESS
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
VALIDATE_PRODUCT = YES
DEAD_CODE_STRIPPING = YES
